body {
  background-color: #63B8FF;
}

.container {
  padding-top: 7.5rem;
}

.converted-value {
  color: #452B4E;
}

.conversion-precision {
  color: #452B4E;
  border: 0.15rem solid rgb(56,80,97,0.5);
  border-radius: 5px;

}
